doctype html
html
    head
        title Capabilities - Peak Power Systems
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(href="/css/styles.css", rel="stylesheet")
    body
        nav.navbar.bg-dark.navbar-dark
            div.d-flex.justify-content-end
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/") Home
                // a.text-white(style = 'padding-left: 20px; padding-right: 20px;', href="/products") Products
                // a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/capabilities") Capabilities
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/contact") Contact Us
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/careers") Careers
        block content
            .container
                .d-flex.flex-column.flex-lg-row
                    .flex-grow-1
                        h1 Capabilities
                        br
                        h2 Generator Services
                        ul
                            li Maintenance
                            li Repair
                            li Monitoring
                            li Training
                            li Fuel Service
                            li Installation
                        br
                        h2 New Equipment
                        ul
                            li Matching Electrical Loads
                            li Site Planning
                            li Evaluation of Municipal Code Compliances
                        br
                        h2 Emergency Power Solutions
                        ul
                            li
                                p Residential
                            li
                                p Commercial
                            li
                                p Industrial
                        br
                        h2 Industry Referrals (by county)
                        ul
                            li Orange County
                            li Rockland County
                            li Westchester County
                            li Sullivan County
                            li Ulster County
                            li Dutchess County
                            li Putnam County
                    .flex-shrink-0
                        img(src='/scripts/peakpowercounties.png', alt='Map', style='max-width: 100%; height: auto;')