extends layout.pug

block content
    .container
        div(style = 'display: flex; justify-content : center; align-items : center;')
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                img(src="/img/generators/IMG_1410.JPG", alt="Industrial Generator", class = "web-img", style = "width: 258px; height: 258px; border: none;")
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                h1(style='text-align: center;') Peak Power Systems
                h4(style='text-align: center;') 99 Sprague Avenue
                h4(style='text-align: center;') Middletown, NY 10940
                h4(style='text-align: center;') Phone: (845) 344-1975
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                img(src="/img/generators/IMG_1922.JPEG", alt="Residential Generator", class = "web-img", style = "width: 258px; height: 258px; border: none;")

        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/generators/IMG_1410.JPG', alt='Industrial Generator', class = "mobile-img", style = 'width: 258px; height: 258px; border: none;')
        br
        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/generators/IMG_1922.JPEG', alt='Residential Generator', class = "mobile-img", style = 'width: 258px; height: 258px; border: none;')
        br
        p(style = 'display: flex; justify-content: center; text-align: center;') Peak Power Systems is a regional leader providing local emergency power and generator services, warehoused in Middletown, NY.
        p(style = 'display: flex; justify-content: center; text-align: center;') Our team of experts is here to help you plan for the right solution for your emergency power needs before you need them.
        // table(class = "center responsive-table")
            tr
                th(style="padding: 10px;") Emergency Power Solutions
                th(style="padding: 10px; text-align: center;") Capabilities
            tr
                td(style="padding: 10px; text-align: center;")
                    a(href="/residential") Residential
                td(style="padding: 10px; text-align: center;") Rebuilds
            tr
                td(style="padding: 10px; text-align: center;")
                    a(href="/commercial") Commercial
                td(style="padding: 10px; text-align: center;") Monitoring of Equipment, Scheduling, and Fuel Supply
            tr
                td(style="padding: 10px; text-align: center;")
                    a(href="/industrial") Industrial
                td(style="padding: 10px; text-align: center;") Industry Referrals
        // br
        h4(style = 'display: flex; justify-content: center; text-align: center;') The leader in the seven county Hudson Valley!
        ul.list-group
            li.list-group-item(style = "text-align: center;") Orange County
            li.list-group-item(style = "text-align: center;") Rockland County
            li.list-group-item(style = "text-align: center;") Westchester County
            li.list-group-item(style = "text-align: center;") Sullivan County
            li.list-group-item(style = "text-align: center;") Ulster County
            li.list-group-item(style = "text-align: center;") Dutchess County
            li.list-group-item(style = "text-align: center;") Putnam County
        img(src='/scripts/peakpowercounties.png', class="centerimage")