extends layout.pug

block content
    .container
        div(style = 'display: flex; justify-content : center; align-items : center;')
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                img(src="/img/generators/IMG_1410.JPG", alt="Industrial Generator", class = "web-img", style = "width: 258px; height: 258px; border: none;")
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                h1 Peak Power Systems
                h2 99 Sprague Avenue
                h2 Middletown, NY 10940
                h2 Phone: (845) 344-1975
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                img(src="/img/generators/IMG_1922.JPEG", alt="Residential Generator", class = "web-img", style = "width: 258px; height: 258px; border: none;")
        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/logos/generac_logo.png', alt='Generac Logo', style = 'width: 360px; height: 142px; border: none;')
        br
        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/generators/IMG_1410.JPG', alt='Industrial Generator', class = "mobile-img", style = 'width: 258px; height: 258px; border: none;')
        br
        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/generators/IMG_1922.JPEG', alt='Residential Generator', class = "mobile-img", style = 'width: 258px; height: 258px; border: none;')
        br
        p(style = 'display: flex; justify-content: center; text-align: center;') Peak Power Systems is your local source for generators and generator products from Generac.
        p(style = 'display: flex; justify-content: center; text-align: center;') We are located in Middletown, NY and have been serving the following counties for at least 30 years:
        ul.list-group
            li.list-group-item(style = "text-align: center;") Orange County
            li.list-group-item(style = "text-align: center;") Rockland County
            li.list-group-item(style = "text-align: center;") Westchester County
            li.list-group-item(style = "text-align: center;") Sullivan County
            li.list-group-item(style = "text-align: center;") Ulster County
        br
        p(style = 'display: flex; justify-content: center; text-align: center;') We offer a wide range of generators and generator products to meet your needs.
        p(style = 'display: flex; justify-content: center; text-align: center;') Our team of experts is here to help you find the right solution for your home or business.
        p(style = 'display: flex; justify-content: center; text-align: center;') Contact us today to get your free backup power estimate before the weather turns ugly!