extends layout.pug

block content
    .container
        div(style = 'display: flex; justify-content : center; align-items : center;')
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                img(src="/img/generators/IMG_1410.JPG", alt="Industrial Generator", class = "web-img", style = "width: 258px; height: 258px; border: none;")
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                h1(style='text-align: center;') Peak Power Systems
                h4(style='text-align: center;') 99 Sprague Avenue
                h4(style='text-align: center;') Middletown, NY 10940
            div.grid-item(style = 'padding-left: 20px; padding-right: 20px;')
                img(src="/img/generators/IMG_1922.JPEG", alt="Residential Generator", class = "web-img", style = "width: 258px; height: 258px; border: none;")
        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/generators/IMG_1410.JPG', alt='Industrial Generator', class = "mobile-img", style = 'width: 258px; height: 258px; border: none;')
        br
        div(style = 'display: flex; justify-content : center; align-items : center;')
            img(src='/img/generators/IMG_1922.JPEG', alt='Residential Generator', class = "mobile-img", style = 'width: 258px; height: 258px; border: none;')
        br
        // p(style = 'display: flex; justify-content: center; text-align: center; font-size: 24px;') Peak Power Systems is the Hudson Valley leader in providing local emergency power and generator services, warehoused in Middletown, NY.
        p(style = 'display: flex; justify-content: center; text-align: center; font-size: 24px;') Our team of certified technicians and emergency power experts are here to help you plan for the right solution for your emergency power needs... before an emergency happens!
        // table(class = "center responsive-table")
            tr
                th(style="padding: 10px;") Emergency Power Solutions
                th(style="padding: 10px; text-align: center;") Capabilities
            tr
                td(style="padding: 10px; text-align: center;")
                    a(href="/residential") Residential
                td(style="padding: 10px; text-align: center;") Rebuilds
            tr
                td(style="padding: 10px; text-align: center;")
                    a(href="/commercial") Commercial
                td(style="padding: 10px; text-align: center;") Monitoring of Equipment, Scheduling, and Fuel Supply
            tr
                td(style="padding: 10px; text-align: center;")
                    a(href="/industrial") Industrial
                td(style="padding: 10px; text-align: center;") Industry Referrals
        // br
        // h4(style = 'display: flex; justify-content: center; text-align: center;') Emergency generator service leader in seven counties!
    div(style = 'display: flex; justify-content : center; align-items : center;', class="flex-container", id='map')
        div(style = 'display: flex; align-items: center;', class="flex-item")
            img(src='/img/PPSMap.jpg', class="centerimage map-image", alt="Map")
    hr
    div(style = 'width: 100vw; margin: 0; background-color:#ffa742;')
        div(style = 'display: flex; justify-content : center; align-items : center; padding: 20px;', id="solutions", class="flex-container")
            div(style = 'display: flex; justify-content: center; align-items: center;', class="flex-item")
                img(src='/img/generators/IMG_20250124_135357.jpg', style='margin-right: 10px;', width='300', height='auto')
            br
            div(style='text-align: center;', class="flex-item")
                p(style='font-size: 26px; margin-top: -20px;') <b>Emergency Power Solutions</b>
                br
                p(style='font-size: 26px;') When you have no time to think about emergency power,
                p(style='font-size: 26px;') <u>Peak Power will manage it for you!</u>
    hr
    div(style = 'display: flex; justify-content : center; align-items : center;', class="flex-container", id="residential")
        div(style = 'display: flex; justify-content: center; align-items: center;', class="flex-item")
            figure
                img(src='/img/generators/residentialgenerator.JPG', style='margin-right: 10px;', width='250', height='auto')
        div(style='text-align: center;', class="flex-item")
            p(style = 'text-align: center; font-size: 26px;') <b>Residential Generators</b>
            //p(style = 'text-align: center; font-size: 26px;') We service over <b>1,500</b> residents in the seven countieslower Hudson Valley!
            p(style='text-align: center; font-size: 26px;') Service, maintain, and repair your residential emergency power!
            p(style='text-align: center; font-size: 26px;') We service over <b>1,500</b> residents in <br /> <a href="#map">the seven counties of the Hudson Valley!</a>
    hr
    div(style = 'width: 100vw; margin: 0; background-color: #ffa742;', id="commercial")
        div(style = 'display: flex; justify-content : center; align-items : center; padding: 20px;', class="flex-container")
            div(style = 'display: flex; justify-content: center; align-items: center;', class="flex-item")
                figure(style='align-items: center;')
                    img(src='/img/generators/IMG_20250124_140435.png', style='margin-right: 10px;', width=300, height='auto')
                    figcaption(style='font-size: 12px;') Specifications: 80 KW Generator, Natural Gas/LP, <br/>Sound-Attenuated
            div(style='text-align: center;', class="flex-item")
                p(style = 'text-align: center; font-size: 26px;') <b>Commercial and Industrial</b>
                br
                p(style = 'text-align: center; font-size: 26px;') Sales, service, and monitoring
                p(style = 'text-align: center; font-size: 26px;') hundreds of municipal commercial and industrial customers in
                p(style = 'text-align: center; font-size: 26px;') <a href="#map">the seven counties of the Hudson Valley!</a>
    hr
    div(style = 'display: flex; justify-content : center; align-items : center;', id="maintenance", class="flex-container")
        div(style = 'display: flex; justify-content: center; align-items: center;', class="flex-item")
            img(src='/img/IMG_5884.jpg', style='margin-right: 10px;', width=300, height='auto')
        div(style='text-align: center;', class="flex-item")
            p(style = 'text-align: center; font-size: 26px;') <b>Maintenance and Repairs</b>
            p(style = 'text-align: center; font-size: 23px;') Scheduled generator maintenance you can count on!
    hr
    div(style = 'width: 100vw; margin: 0; background-color: #ffa742;')
        div(style = 'display: flex; justify-content: center; align-items: center; padding: 20px;', id="equipment", class="flex-container")
            div(style='display: flex; justify-content: center;', class="flex-item")
                img(src='/img/IMG_5886.jpg', style='margin-right: 10px;', width='300', height='auto')
            div(style='text-align: center;', class="flex-item")
                p(style = 'text-align: center; font-size: 26px;') <b>Equipment Sales</b>
                br
                p(style = 'text-align: center; font-size: 26px;') Restore or Replace!
                br
                p(style = 'text-align: center; font-size: 26px;') Pricing Plans and Free Estimates!
                br
                p(style = 'text-align: center; font-size: 26px;') <b>For more information, contact us at:</b>
                p(style = 'text-align: center; font-size: 26px;') <b><a href="tel:845-344-1975">845-344-1975</a></b>
    hr
    .container
        p(style = 'text-align: center; font-size: 26px;') <b>About Us</b>
        p(style = 'text-align: center; font-size: 23px;') I would like to take this opportunity to introduce our company to you. Peak Power Systems is a distributor and supplier of industrial and home standby generators, automatic power transfer switches, UPS systems, as well as portable generators for both commercial and residential applications. Standby power generation and related systems are our ONLY business, and we have been successful for over <b>31 years.</b> We are an authorized Generac distributor for the Tri-State Area.
        p(style = 'text-align: center; font-size: 23px;') Peak Power Systems prides itself on offering a wide range of services. Our sales department can provide information and assistance in purchasing the smallest home standby unit and transfer switch up to the largest 2800 kW generator with multiple transfer switches, specialized diesel fuel tanks, and customized exhausts. Our Technical Support area headed by our master electrician provides consultative services on a wide range of topics related to standby power generation.
        p(style = 'text-align: center; font-size: 23px;') Our factory trained technicians in our Service and Parts Departments have over <b>75+ years</b> of combined experience with multiple brands of natural gas, propane, and diesel generators. Our expertise includes engine and alternator rebuild, diagnosis of switchgear issues, wiring problems, electronic control boards, software programming, fuel related issues, warranty coverage, and preventive service maintenance. With our fleet of service vehicles, we strive to provide <b>24 hours a day, 7 days a week</b> responses to critical alarms and outages. Our service coverage includes parts of the New York, New Jersey, Connecticut, and Pennsylvania areas.
        p(style = 'text-align: center; font-size: 23px;') And of course, all of this is supported by an office staff that is ready to provide the best service possible. We would be happy to meet or speak with you further to explain our services.
        br
        br
        p(style = 'font-size: 23px;') Sincerely,
        p(style = 'font-size: 23px;') <b>Perry Pistone, President of Peak Power Systems, Inc.</b>
