doctype html
html
    head
        title Residential Products - Peak Power Systems
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(href="/css/styles.css", rel="stylesheet")
    body
        nav.navbar.bg-dark.navbar-dark
            div.d-flex.justify-content-end
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/") Home
                // a.text-white(style = 'padding-left: 20px; padding-right: 20px;', href="/products") Products
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/capabilities") Capabilities
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/contact") Contact Us
                a.text-white.nav-link(style = 'padding-left: 20px; padding-right: 20px;', href="/careers") Careers
        block content
        .container
            h1 Residential Products
            p Here is a gallery of some of the residential generators we deployed in the past: